Django==6.0.2
djangorestframework==3.16.1
dj-database-url==3.0.1
psycopg[binary]==3.2.13
python-dotenv==1.2.1
gunicorn==23.0.0
whitenoise==6.11.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
celery==5.6.0
redis==7.1.0
requests==2.32.5
openpyxl==3.1.5
